@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <h1>inVent: The Space Age Bakery</h1>
    <p class="lead">inVent manages an intergalactic inventory of space-based bakeries. This platform allows communication from all angles of our team, from production to retailers.  </p>
    <br />
    <br />
</div>

<div class="row">
    <h2>What's new for inVent</h2>
    <div class="col-md-4">
        <h2>Solar Powered</h2>
        <p>
            inVent is the only bakery that bakes all its products using the power of the sun. Our customers can taste the difference, our solar ovens crisp donuts to perfection and the vacuum of space helps us keep everything fresh!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Community Outreach</h2>
        <p>Here at inVent we donate 1% of our profits annually to space orphanages. Its a growing concern among astronauts, children growing up in space alone, join us in making sure our customers understand this complicated issue.</p>
        <p><a class="btn btn-default" href="https://www.feedingamerica.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Announcements!</h2>
        <p>We will be launching a new line of products into orbit shortly so keep an eye out for samples.</p>

    </div>
</div>